.custom-command-container {
  height: 67vh;
  width: 50vw;
  overflow-x: hidden;
  padding-right: 0.25rem;
  &::-webkit-scrollbar {
    width: 0.25rem;
  }
  &::-webkit-scrollbar-thumb {
    height: 10%;
    background-color: rgb(102, 102, 102);
    /* 스크롤바 둥글게 설정    */
    border-radius: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }
}

.custom-box {
  width: 50vw;
  margin: auto;
  margin-top: 1rem;
}

.custom-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1vh;
  font-size: 1.5rem;
  border-bottom: solid 0.125rem;
  border-radius: 0.125rem;
}

.custom-command {
  background: #f2f4fe;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  border-radius: 0.5rem;
  padding: 2vh;
  overflow: hidden;

  .custom-command-box {
    width: 40vw;

    .command-title {
      font-size: 1.25rem;
    }

    .command-src {
      color: #8d8d8d;
      overflow: hidden;
      word-break: break-all;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.custom-button-icon {
  border-radius: 0.5rem;
  cursor: pointer;

  &.edit {
    margin-right: 1rem;
  }

  &:hover {
    background: #d7d7d7;
  }
}

.custom-input {
  width: 30vw;

  input {
    margin-top: 1rem;
    border: 1px solid #dedede;
    border-radius: 0.25rem;
    background-color: #ffffff;
    align-self: center;
    box-shadow: 0px 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
    width: 30vw;
    padding: 0.5rem;

    &:focus {
      outline: 0;
      border: 1px solid #727272;
    }
  }
}

.custom-edit-box {
  margin-top: 2vh;
  border-radius: 0.5rem;

  .my-startword-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .startword-title {
    font-size: 2rem;
  }

  input {
    width: 48vw;
    height: 4vh;
    font-size: 1.25rem;
    padding: 0.5rem;

    border: 1px solid #dedede;
    border-radius: 0.25rem;
    background-color: #ffffff;
    align-self: center;
    box-shadow: 0px 0.125rem 0.125rem rgba(0, 0, 0, 0.25);

    &::placeholder {
      font-size: 1rem;
    }
    &:focus {
      outline: 0;
      border: 1px solid #727272;
    }
  }
}
